# Vim lockfile
.*.swp

# TeX auxiliary files
*.aux
*.log
*.toc
*.lof
*.lot
*.synctex.gz
*.fls
*.glg
*.glo
*.gls
*.ist

# latexmk auxiliary files
*.fdb_latexmk

# Compiled document
diplom.pdf

# BibLaTeX auxiliary files
*.bbl
*.bcf
*.blg
*.run.xml
